:root {
  --fondo_alterno: #9AD2CB;
  --fondo_alterno2: #D7EBBA;
  --fondo: #FEFFBA;
  --fondo_marcado: #EBD494;
  --texto: #472836;
}
* {
  padding: 0;
  margin: 0;
  transition: all 0.1s ease-in-out;
}


.subtitulo{
  color: var(--texto);
  font-weight: bold;
}
body{
  background: var(--fondo);
}
header{
  position: relative;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
}
header video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.compania{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
h1{
  color: var(--fondo_marcado);
  font-size: 7vh;
  background-attachment: fixed;
  text-align: right;
}
.menu{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}
nav{
  background-color: var(--fondo_marcado);
}
.navegacion{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
aside{
  display: none;
}
.carrusel{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--fondo_alterno);
  padding: 10px;
}
.carrusel img{
  height: 90%;
  width: 15vw;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.carrusel img:hover{
  transform: translateY(-10px);
  height: 90%;
  width: 15vw;
  border-radius: 0px;
  box-shadow: 5px 5px 5px 1px black;
  
}
footer{
  background-color: var(--fondo_alterno);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}
footer h3{
  color: var(--texto);
  font-weight: bold;
  font-size: 5vh;
}
footer .footer-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  font-size: 3vh;
}
footer .footer-sections{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}
footer *{
  margin: 10px 0px 30px 0px;
}
footer .footer-leyend{
  text-align: center;
}

