:root {
  --color1: #9AD2CB;
  --color2: #D7EBBA;
  --color3: #FEFFBA;
  --color4: #EBD494;
  --color5: #472836;
}
* {
  padding: 0;
  margin: 0;
}
h1{
      color: var(--color2);
      font:100px Inconsolata, Helvetica, sans-serif;
    }
    
.subtitulo{
  color: var(--color1);
  font-weight: bold;
}
#descripcionCafeteria{
  color: var(--color2);
  font-weight: italic;
}
body{
  background: var(--color5);
}

